html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height + 5px */
  margin-bottom: 65px;
  padding-top: 0px;
}

body[data-theme="light"] {
  background-color: rgb(246, 248, 250);
}

img {
  padding: 5px;
}

.logo {
  max-width: 300px;
}

.choices__list {
  color: black;
}

.input-inline {
  min-width: 0;
  width: 200px;
  display: block;
}

/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  /* background-color: #343a40; */
  background-color: #446d80 !important;
}
.footer a {
  color: rgb(255, 255, 255);
  /* text-decoration: none; */
}

/* Button colors */
.btn-primary {
  background-color: #446d80;
  color: white;
}
.btn-outline-primary {
  border-color: #006FBA;
  color: #006FBA;
}
.btn-secondary {
  background-color: #006FBA;
  color: white;
}
.btn-default {
  background-color: #006FBA;
  color: white;
}
